html {
  font-size: 62.5%
}

body {
  font-size: 1.75rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .625rem;
  line-height: 1.1;
}

p {
  font-size: 1.2rem;
}

header {
    width: 96%;
    margin: 0 auto;
    text-align: center;
    color: peachpuff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1.page-title {
  padding: 1rem 1.1rem
}

main {
  margin: 2rem;
}
/* Literally just copy-pasted to understand how this works */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

.justify-center {
    justify-content: center;
  }

  /* This is the whole card section. Each card is within a div with the class "card-column." They are layed out in column formatting.*/
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

  /* Within each div is a section with the class "code-card." */
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: grey;
    background-color: black;
    align-items: center;
  
}

h2.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: peachpuff;
  margin: -2.9rem 0 .2rem 0;
  max-width: 300px;
  padding: .5rem 1rem; 

}

/* for tablets */
@media screen and (min-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-column:last-child {
    flex-grow: 1;
  }
}

.card-body {
  margin: .1rem auto 3rem;
}

/* for full screen */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

}