header {
    text-align: center;
    color: rgb(226, 169, 56);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: grey;
    background-color: black;
}

/* Literally just copy-pasted to understand how this works */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

.justify-center {
    justify-content: center;
  }

  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

  

/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 
    repeat(12, 1fr);
}
*/


/* for tablets */
@media screen and (min-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-column:last-child {
    flex-grow: 1;
  }
}

/* for full screen */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

}